@import "./common/all.css";
@import "./common/header.css";
@import "./common/footer.css";

/* header.header{
  position: fixed;
} */

main.main{
  /* border: 1px solid blue; */
  min-width: 1200px;
  margin: 0 auto;
}

div#top{
  /* border: 1px solid black; */
  position: relative;
}

div#top div.banner{
  /* border: 1px solid red; */
  background-image: url("../images/banner_road_1520x1013.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  width: 100%;
  height: 100vh;
  /* 加上position屬性及z-index，以顯現div.banner_content */
  /* position: relative;
  z-index: -2; */
}

div#top::before{
  /* border: 1px solid red; */
  content: "";
  display: block;
  min-width: 100%;
  height: 200px;
  background-image: url("../images/banner_wave_1519x200.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

div#top div.top_content{
  /* border: 1px solid aquamarine; */
  width: 80%;
  display: block;
  margin: 0 auto;
  position: absolute;
  bottom: 3%;
  left: 0;
  right: 0;
}

div#top div.top_content div.bt_start{
  /* border: 1px solid greenyellow; */
  width: 10%;
  display: inline-block;
}

div#top div.top_content div.bt_start::before{
  /* border: 1px solid black; */
  content: "";
  display: inline-block;
  background-color: #fff;
  width: 123px;
  height: 123px;
  border-radius: 50%;
  position: absolute;
  top: -6%;
  left: -.5%;
  /* z-index: 0; */
}

div#top div.top_content div.bt_start a.bt_start{
  border: 2px solid hsla(57, 9%, 61%, 1);
  width: 110px;
  height: 110px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  padding-top: 25%;
  /* vertical-align: top; */

  color: hsla(57, 9%, 61%, 1);
  text-align: center;
  font-size: 1.6rem;  /* 16px */
  box-shadow: -1px 4px 74px -16px rgba(0, 0, 0, .3);
  position: relative;
}

div#top div.top_content div.bt_start a.bt_start:hover{
  border: 2px solid hsla(60, 100%, 40%, 1);
  background-color: #fff;
  color: hsla(60, 100%, 40%, 1);
  transition: all 0.1s ease-out 0s;
  width: 111px;
  height: 111px;
}

div#top div.top_content div.para_desc{
  /* border: 1px solid green; */
  color: hsla(0, 0%, 67%, 1);
  display: inline-block;
  padding: 0 5px;
  vertical-align: bottom;

  letter-spacing: 0.3em;
  font-size: 1.6rem;  /* 16px */
}

div#top div.top_content div.para_intro{
  /* border: 1px solid crimson; */
  width: calc(100% - 355px - 107px);
  display: inline-block;
  padding: 3px 20px;
  float: right;
  position: absolute;
  right: 5%;
  bottom: 8%;

  color: hsla(57, 9%, 61%, 1);
  font-size: 1.7rem;  /* 17px */
  font-style: italic;
  letter-spacing: 0.15em;
  text-align: center;
}

div#browse{
  /* border: 1px solid DarkOrchid; */
  margin: 120px 0;
  margin: 120px auto;
  position: relative;
  width: 75%;
}

div#browse div.browse_img_area{
  /* border: 1px solid chocolate; */
  width: 100%;
  overflow: hidden;
  position: relative;
}

div#browse div.browse_img_area::after{
  content: "";
  display: block;
  /* border: 1px solid black; */
  width: 100%;
  background-image: url("../images/browsing_wave_369x106.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 10%;
  position: absolute;
  bottom: -1%;
  left: -1%;
}

div#browse div.browse_img_area div.title_browse{
  /* border: 1px solid gold; */
  position: absolute;
  bottom: 1%;
  left: 10%;
  z-index: 10;
}

div#browse div.browse_img_area div.title_browse h2.browse{
  /* border: 1px solid greenyellow; */
  font-size: 2.6rem;  /* 26px */
  letter-spacing: 0.6rem;
  color: hsla(155, 100%, 32%, 1);
  display: inline-block;
  font-weight: 500
}

div#browse div.browse_img_area div.title_browse h2.browse::before{
  content: "";
  display: inline-block;
  width: 29px;
  height: 41px;
  background-image: url("../images/index_title_deco.svg");
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(4deg) translateY(11px);
  margin-right: 17px;
}

div#browse div.browse_para{
  /* border: 1px solid GoldenRod; */
  text-align: right;
  margin-top: 20px;
  display: inline-block;
  float: right;
}

div#browse div.browse_para p{
  color: hsla(57, 9%, 61%, 1);
  letter-spacing: 0.2rem;
  line-height: 2;
  font-size: 1.5rem;  /* 15px */
}

div#browse div.bt_browse_page{
  /* border: 1px solid blue; */
  display: inline-block;
  width: 100%;
  text-align: center;
  position: relative;
}


div#browse div.bt_browse_page img.deco_left{
  /* border: 1px solid red; */
  width: 481px;
  height: 49px;
  position: absolute;
  left: 0;
  top: 23%;

}

div#browse div.bt_browse_page img.deco_right{
  /* border: 1px solid red; */
  width: 463px;
  height: 36px;
  position: absolute;
  right: 0;
  bottom: 23%;
}

div#browse div.bt_browse_page a.bt_browse_page{
  border: 2px solid hsla(57, 9%, 61%, 1);
  width: 116px;
  height: 116px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  padding-top: 3.5%;
  margin: 20px 25px;

  color: hsla(57, 9%, 61%, 1);
  text-align: center;
  font-size: 1.7rem;  /* 17px */
  letter-spacing: 0.4rem;
  /* box-shadow: -1px 4px 74px -16px rgba(0, 0, 0, .3); */
}

div#browse div.bt_browse_page a.bt_browse_page:hover{
  border: 2px solid hsla(60, 100%, 40%, 1);
  background-color: #fff;
  color: hsla(60, 100%, 40%, 1);
  transition: all 0.1s ease-out 0s;
  width: 117px;
  height: 117px;
}

div#para_area{
  /* border: 1px solid Aquamarine; */
  width: 75%;
  margin: 0 auto;
  font-size: 0;
}

div#para_area div.para{
  /* border: 1px solid red; */
  width: 45%;
  display: inline-block;
  font-size: 1.6rem;
  vertical-align: top;
}

div#para_area div.para p.quot_left{
  /* border: 1px solid black; */
  font-size: 30rem;  /* 300px */
  font-family: "新細明體";
  color: hsla(60, 20%, 75%, .4);
  display: inline-block;
  position: absolute;
  left: -4%;
  vertical-align: top;
}

/* div#para_area div.para p.quot_right{
  border: 1px solid black;
  vertical-align: bottom;
  float: right;
  width: 100%;
  text-align: right;
}  */

div#para_area div.para p.main_para{
  /* border: 1px solid purple; */
  color: #898989;
  display: inline-block;
  letter-spacing: 0.1em;
  line-height: 1.7;
  margin: 10% 0 0 15%;
}

div#para_area div.img_area{
  /* border: 1px solid blue; */
  display: inline-block;
  max-width: 50%;
  font-size: 1.4rem;
  position: relative;
  margin-top: 25%;
  margin-left: 5%;
}

div#para_area div.img_area p.sentence{
  display: inline-block;
  background-color: hsla(60, 20%, 75%, 1);
  padding: 5px 20px;
  text-align: center;
  color: #fff;
  width: 60%;
  position: absolute;
  top: 0;
  right: 0;
}

div#para_area div.img_area img.sentence_img{
  /* opacity: 75%; */
  /* position: absolute; */
  margin: 20px;
  margin-left: 40px;
  margin-bottom: -70px;
}

div#make{
  width: 75%;
  margin: 0 auto;

}

 div#make div.title_make{
  /* border: 1px solid Aquamarine; */
  position: relative;
 }

 div#make div.title_make h2.make{
   /* border: 1px solid IndianRed; */
   font-size: 2.2rem;  /* 22px */
   color: #7f7f7f;
   display: inline-block;
   transform: rotate(-10deg);
   position: absolute;
   top: 20px;
   left: 10%;
 }

div#make div.title_make h2.make::after{
  content: "";
  display: inline-block;
  width: 30px;
  height: 38px;
  background-image: url("../images/index_title_deco.svg");
  background-repeat: no-repeat;
  background-size: cover;
  transform: scaleX(-1) rotate(9deg) translateY(8px);
  margin-left: 7px;
}

div#make div.border{
  border: 1px solid transparent;
  /* border: 1px solid red; */
  width: 100%;
  /* height: 90vh; */
  background-image: url("../images/index_make_border.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

div#make div.border div.wrap{
  /* border: 1px solid orange; */
  margin: 0 auto;
  width: 75%;
  font-size: 0;
  margin-top: 20%;
  margin-bottom: 16%;
}

div#make div.border div.wrap div.make{
  /* border: 1px solid blue; */
  text-align: center;
  display: inline-block;
}

div#make div.border div.wrap div.step01, .step02{
  margin-right: calc((100% - (170px * 3)) / 2);
}

/* div#make div.border div.wrap div.make img.icon01{
  width: 142px;
  height: 145px;
}

div#make div.border div.wrap div.make img.icon02{
  width: 110px;
  height: 149px;
}

div#make div.border div.wrap div.make img.icon03{
  width: 157px;
  height: 132px;
} */

div#make div.border div.wrap div.make p{
  font-size: 1.7rem;
  margin-top: 30px;
  color: hsla(60, 20%, 75%, 1);
}

div#make div.border div.bt_make{
  /* border: 1px solid blue; */
  display: inline-block;
  width: 100%;
  text-align: center;
  position: relative;
  /* margin-bottom: 80px; */
}

div#make div.border div.bt_make a.bt_make{
  width: 138px;
  height: 138px;
  border: 9px solid #fff;
  background-color: hsla(60, 20%, 75%, 1);
  border-radius: 50%;
  display: inline-block;
  padding-top: 4%;
  margin: -6% 8% 8% 0;

  color: #fff;
  text-align: center;
  font-size: 1.7rem;  /* 17px */
  letter-spacing: 0.4rem;
  float: right;
  /* box-shadow: -1px 4px 74px -16px rgba(0, 0, 0, .3); */
}

div#make div.border div.bt_make a.bt_make:hover{
  background-color: hsla(60, 100%, 40%, 1);
  color: #fff;
  transition: all 0.2s ease-out 0s;
  width: 140px;
  height: 140px;
}

div#comment{
  /* border: 1px solid red; */
  width: 65%;
  margin: 0 auto 8%;
}

div#comment div.title_comment{
  /* border: 1px solid cyan; */
  display: inline-block;
  float: left;
}

div#comment div.title_comment h2.comment{
  color: hsla(155, 100%, 32%, 1);
  letter-spacing: 0.3em;
  font-size: 2.6rem;
}

div#comment div.title_comment h2.comment::after{
  content: "";
  display: inline-block;
  width: 27px;
  height: 30px;
  background-image: url("../images/index_title_deco.svg");
  background-repeat: no-repeat;
  background-size: cover;
  transform: scaleX(-1) rotate(9deg) translateY(4px);
  margin-left: 10px;
}

div#comment div.card{
  /* border: 1px solid blue; */
  border-top-left-radius: 100px;
  width: 80%;
  display: inline-block;
  background-color: #fff;
  box-shadow: 5px 2px 50px -20px rgba(0, 0, 0, .3);
  text-align: center;
}

div#comment div.card div.wrap{
  /* border: 1px solid black; */
  padding: 45px 0;
}

div#comment div.card div.wrap div.comme_avatar01{
  /* border: 1px solid aqua; */
  display: inline-block;
  width: 16%;
  vertical-align: middle;
}

div#comment div.card div.wrap div.comme_avatar01 img.avatar01{
  border-radius: 50%;
  width: 113px;
  height: 113px;
  overflow: hidden;
}

div#comment div.card div.wrap div.comme_para01{
  /* border: 1px solid purple; */
  width: 67%;
  display: inline-block;
  text-align: center;
  margin-left: 20px;
  vertical-align: middle;
}

div#comment div.card div.wrap div.comme_para01 p{
  /* border: 1px solid pink; */
  display: inline-block;

  font-size: 1.6rem;
  color: hsla(57, 9%, 61%, 1);
  text-align: center;
  line-height: 2;
}

div#comment div.card div.wrap div.comme_para01 p.name{
  font-size: 1.5rem;
  color: hsla(06, 20%, 75%, 1);
  opacity: 65%;
  margin-top: 10px;
}

/* div#comment div.card div.wrap div.dot{
  border: 1px solid coral;
  display: inline-block;
}

div#comment div.card div.wrap div.dot ul > li{
  border: 1px solid blue;
} */
