@import "./common/all.css";
@import "./common/header.css";
@import "./common/footer.css";

header.header{
  position: fixed;
}

main.main{
  /* border: 1px solid blue; */
  min-width: 1200px;
  margin: 0 auto;
}

main.main div#top{
  /* border: 1px solid black; */
  position: relative;
}

main.main div#top div.banner{
  /* border: 1px solid red; */
  background-image: url("../../images/banner_road_1520x1013.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  width: 100%;
  height: 100vh;
  /* 加上position屬性及z-index，以顯現div.banner_content */
  /* position: relative;
  z-index: -2; */
}

main.main div#top::before{
  /* border: 1px solid red; */
  content: "";
  display: block;
  min-width: 100%;
  height: 200px;
  background-image: url("../../images/banner_wave_200.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5%;
}

main.main div#top div.top_content{
  /* border: 1px solid aquamarine; */
  width: 80%;
  display: block;
  margin: 0 auto;
  position: absolute;
  bottom: 1%;
  left: 0;
  right: 0;
}

main.main div#top div.top_content div.bt_start{
  /* border: 1px solid greenyellow; */
  width: 10%;
  display: inline-block;
}

main.main div#top div.top_content div.bt_start::before{
  /* border: 1px solid black; */
  content: "";
  display: inline-block;
  background-color: #fff;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  position: absolute;
  top: -3%;
  left: -.5%;
  z-index: -1;
}

main.main div#top div.top_content div.bt_start a.bt_start{
  border: 2px solid hsla(164, 50%, 31%, 1);
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  padding: 28px 23px;
  vertical-align: top;

  color: hsla(164, 50%, 31%, 1);
  text-align: center;
  font-size: 1.4rem;  /* 14px */
  box-shadow: -1px 4px 74px -16px rgba(0, 0, 0, .3);
}

main.main div#top div.top_content div.para_desc{
  /* border: 1px solid green; */
  color: #7f7f7f;
  display: inline-block;
  padding: 0 5px;
  vertical-align: bottom;

  letter-spacing: 0.3em;
  font-size: 1.5rem;  /* 15px */
}

main.main div#top div.top_content div.para_intro{
  /* border: 1px solid crimson; */
  width: calc(100% - 355px - 107px);
  display: inline-block;
  padding: 3px 20px;
  float: right;
  position: absolute;
  right: 5%;
  bottom: 0%;

  color: hsla(164, 50%, 31%, 1);
  font-size: 1.6rem;  /* 16px */
  font-style: italic;
  letter-spacing: 0.15em;
  text-align: center;
}

main.main div#browse{
  border: 1px solid DarkOrchid;
  margin: 120px 0;
  margin: 120px auto;
  position: relative;
  width: 75%;
}

/* main.main div#browse div.browse_img::after{
  content: "aaa";
  display: block;
  border: 1px solid black;
  width: 100%;
  background-color: cyan;
  background-image: url("../images/browsing_wave_369x106.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 12%;
  position: absolute;
} */

main.main div#browse div.browse_img{
  border: 1px solid chocolate;
  width: 100%;
  overflow: hidden;
}

main.main div#browse h2.browse{
  border: 1px solid IndianRed;
  font-size: 2.2rem;  /* 22px */
  color: #7f7f7f;
  display: inline-block;
}

main.main div#browse div.browse_para{
  border: 1px solid GoldenRod;
  color: hsla(164, 50%, 31%, 1);
  letter-spacing: 0.3em;
  font-size: 1.5rem;  /* 15px */
  text-align: right;

  margin: 80px 0;
  display: inline-block;
  float: right;
}

main.main div#browse div.bt_browse_page{
  border: 1px solid blue;
  display: inline-block;
  width: 100%;
  text-align: center;
  position: relative;
}


main.main div#browse div.bt_browse_page img.deco_left{
  /* border: 1px solid red; */
  position: absolute;
  left: 0;
  top: 23%;

}

main.main div#browse div.bt_browse_page img.deco_right{
  /* border: 1px solid red; */
  position: absolute;
  right: 0;
  bottom: 23%;
}

main.main div#browse div.bt_browse_page a.bt_browse_page{
  border: 2px solid hsla(164, 50%, 31%, 1);
  width: 103px;
  height: 103px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  padding: 35px 0;
  margin: 35px 25px;

  color: hsla(164, 50%, 31%, 1);
  text-align: center;
  font-size: 1.5rem;  /* 15px */
  box-shadow: -1px 4px 74px -16px rgba(0, 0, 0, .3);
}

main.main div#para_area{
  /* border: 1px solid Aquamarine; */
  width: 75%;
  margin: 0 auto;
  font-size: 0;
}

main.main div#para_area div.para{
  /* border: 1px solid red; */
  width: 45%;
  display: inline-block;
  font-size: 1.6rem;
  vertical-align: top;
}

main.main div#para_area div.para p.quot_left, p.quot_right{
  font-size: 10rem;  /* 100px */
  font-family: "新細明體";
  color: hsla(0, 0%, 69%, .6);
  display: inline-block;
}

main.main div#para_area div.para p.quot_left{
  /* border: 1px solid black; */
  vertical-align: top;

}

main.main div#para_area div.para p.quot_right{
  /* border: 1px solid black; */
  vertical-align: bottom;
  /* float: right; */
  width: 100%;
  text-align: right;
}

main.main div#para_area div.para p.main_para{
  /* border: 1px solid purple; */
  color: #898989;
  display: inline-block;
  letter-spacing: 0.1em;
  margin-top: 50px;
}

main.main div#para_area div.img_area{
  /* border: 1px solid blue; */
  display: inline-block;
  max-width: 50%;
  font-size: 1.4rem;
  position: relative;
  margin-top: 25%;
  margin-left: 5%;
}

main.main div#para_area div.img_area p.sentence{
  display: inline-block;
  background-color: hsla(164, 50%, 31%, 1);
  padding: 5px 20px;
  text-align: center;
  color: #fff;
  width: 60%;
  position: absolute;
  top: 0;
  right: 0;
}

main.main div#para_area div.img_area img.sentence_img{
  opacity: 75%;
  /* position: absolute; */
  margin: 20px;
  margin-left: 40px;
  margin-bottom: -70px;
}

main.main div#make{
  width: 75%;
  margin: 0 auto;

}

 main.main div#make div.title_make{
  /* border: 1px solid Aquamarine; */
  position: relative;
 }

 main.main div#make div.title_make h2.make{
   /* border: 1px solid IndianRed; */
   font-size: 2.2rem;  /* 22px */
   color: #7f7f7f;
   display: inline-block;
   transform: rotate(-10deg);
   position: absolute;
   top: 20px;
   left: 10%;
 }

main.main div#make div.title_make h2.make::after{
  content: "";
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url("../images/title_deco.png");
  background-repeat: no-repeat;
  background-size: cover;
  transform: scaleX(-1) rotate(20deg) translateY(8px);
  margin-left: 5px;
}

main.main div#make div.border{
  border: 1px solid transparent;
  /* border: 1px solid red; */
  width: 100%;
  /* height: 90vh; */
  background-image: url("../images/border_deco_1116x612.png");
  background-repeat: no-repeat;
  background-size: contain;
}

main.main div#make div.border div.wrap{
  /* border: 1px solid orange; */
  margin: 0 auto;
  width: 75%;
  font-size: 0;
  margin-top: 20%;
  margin-bottom: 16%;
}

main.main div#make div.border div.wrap div.make{
  /* border: 1px solid blue; */
  text-align: center;
  display: inline-block;
}

main.main div#make div.border div.wrap div.step01, .step02{
  margin-right: calc((100% - (160px * 3)) / 2);
}

main.main div#make div.border div.wrap div.make p{
  font-size: 1.6rem;
  margin-top: 30px;
  color: #7f7f7f;
}

main.main div#make div.border div.bt_make{
  /* border: 1px solid blue; */
  display: inline-block;
  width: 100%;
  text-align: center;
  position: relative;
  /* margin-bottom: 80px; */
}

main.main div#make div.border div.bt_make a.bt_make{
  width: 115px;
  height: 115px;
  background-color: hsla(164, 50%, 31%, 1);
  border-radius: 50%;
  display: inline-block;
  padding: 45px 0;
  margin: -5% 0 8% 82%;

  color: #fff;
  text-align: center;
  font-size: 1.5rem;  /* 15px */
  box-shadow: -1px 4px 74px -16px rgba(0, 0, 0, .3);
}

main.main div#comment{
  /* border: 1px solid red; */
  width: 60%;
  margin: 0 auto 8%;
}

main.main div#comment div.title_comment{
  /* border: 1px solid cyan; */
  display: inline-block;
  float: left;
}

main.main div#comment div.title_comment h2.comment{
  color: hsla(164, 50%, 31%, 1);
  letter-spacing: 0.2em;
  font-size: 2.2rem;
}

main.main div#comment div.title_comment h2.comment::after{
  content: "";
  display: inline-block;
  width: 28px;
  height: 28px;
  background-image: url("../images/title_deco.png");
  background-repeat: no-repeat;
  background-size: cover;
  transform: scaleX(-1) rotate(13deg) translateY(6px);
  margin-left: 10px;
}

main.main div#comment div.card{
  /* border: 1px solid blue; */
  border-top-left-radius: 100px;
  width: 80%;
  display: inline-block;
  background-color: #fff;
  box-shadow: 5px 2px 50px -20px rgba(0, 0, 0, .3);
  text-align: center;
}

main.main div#comment div.card div.wrap{
  /* border: 1px solid black; */
  padding: 45px 0;
}

main.main div#comment div.card div.wrap div.comme_avatar01{
  /* border: 1px solid aqua; */
  display: inline-block;
  width: 16%;
  vertical-align: middle;
}

main.main div#comment div.card div.wrap div.comme_avatar01 img.avatar01{
  border-radius: 50%;
  width: 113px;
  height: 113px;
  overflow: hidden;
}

main.main div#comment div.card div.wrap div.comme_para01{
  /* border: 1px solid purple; */
  width: 67%;
  display: inline-block;
  text-align: center;
  margin-left: 27px;
  vertical-align: middle;
}

main.main div#comment div.card div.wrap div.comme_para01 p{
  /* border: 1px solid pink; */
  display: inline-block;

  font-size: 1.5rem;
  color: #7f7f7f;
  text-align: center;
  line-height: 2;
}

main.main div#comment div.card div.wrap div.comme_para01 p.name{
  font-size: 1.4rem;
  color: #7f7f7f;
  opacity: 65%;
  margin-top: 10px;
}

/* main.main div#comment div.card div.wrap div.dot{
  border: 1px solid coral;
  display: inline-block;
}

main.main div#comment div.card div.wrap div.dot ul > li{
  border: 1px solid blue;
} */
